.header1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.header2 {
    font-family: Verdana, Geneva, sans-serif;
}

paragraph {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}